$color-red: #F1897B;
$color-red-dark: #E54F3A;
$color-green-neon: #53F3CD;
$color-green-neon-dark: #02E0AB;
$color-green: #85BBB1;
$color-coral: #E54F3A;
$color-coral-light: #f1897b46;
$color-violet: #9747FF;
// $color-border: #e54f3a;
$color-gray-dark: #515773;
$color-gray-light: #E4E4E4;
$color-gray: #E5E5E5;
$color-dark-blue: #262A3F;
$color-white: #fff;
$color-black: #000;
$color-black-rgba: #191C2960;

$font-lato: 'Lato', sans-serif;
$font-playfair: 'Playfair Display', sans-serif;


// dark mode
$color-blue-deep: #161926;
$color-gray-dark: #E4E4E4;
$color-white-dark: #fff;
$color-black-rgba-dark: #191C2960;
$color-blue: #689FF2;